# temporary directories
tmp/

# Compiled files
*.o
*.so
a.out

# Python
# compiled files
*.pyc
*.pyo
__pycache__/
.mypy_cache/
# distutils/setuptools
build/
*.egg-info/
temp/
dist/
installed-files.log
MANIFEST
# virtualenv
.venv*/
# pytest
.pytest_cache/

# Sphinx, docutils
_build/
README.html

# tar, backup, archive files
*.bak
*.tar.gz
*.tar.bz2
*.a

# nauty
src/nauty*/config.log
src/nauty*/config.status
src/nauty27r1/gtools.h
src/nauty27r1/makefile
src/nauty27r1/naututil.h
src/nauty27r1/nauty.h
