include COPYING README.md Release.notes
include Makefile
recursive-include src/nauty27r1 *
include src/pynauty/nautywrap.h
include src/Makefile
recursive-include docs/build *
recursive-include tests *
global-exclude __pycache__/* *.pyc
