include COPYING README.md Release.notes
include Makefile
include Makefile.common
recursive-include src/nauty27r1 *
include src/pynauty/nautywrap.h
include src/Makefile.nauty
include src/module-test.py
recursive-include src/pynauty/docs *
recursive-include src/pynauty/tests *
recursive-include docs *
global-exclude __pycache__/* *.pyc
global-exclude *.a *.o
